.navbar {
  margin-bottom: 0
}
.navbar svg {
  margin-left: 10px;
}
.navbar-brand {
  margin-top: 0;
}
.menu-custom {
  text-transform: uppercase;
}
.menu-custom li:hover {
  background-color: #ECC4BF;
}
.bg-img {
  background:url('../img/bg.jpg');
  background-size: cover;
  height: 350px;
}
.bg-img h1 {
  padding-top: 30px;
  color: white;
  text-transform: uppercase;
}
.bg-img h4 {
  color: #ECC4BF;
}
.bg-img p {
  color: white;
}
.bg-img img {
  height: 300px;
  padding-top: 30px;
}
.thumbnail {
  margin-top: 50px;
  border: none;
}
.thumbnail .fa {
  color: #ECC4BF;
}
.bg-color {
  background: #E7E7E7;
  padding: 20px;
}
.bg-color-2 {
  background: #444349;
  color: white;
}
.list-group-item {
  background: none;
  border: none;
  color: #848F97;
  padding-left: 0;
}
.list-group-item a,p {
  color: #848F97;
  text-decoration: none;
}
.recent-work button {
  margin-top: 20px;
}
.margin-img {
  margin-top: -50px;
  width: 50%;
}
.client-custom {
  background: #E7E7E7;
  margin: 50px 30px;
}
.client-mgn {
  margin-bottom: 100px;
}
.bg-color-2 .btn-info {
  margin-top: 5px;
  margin-left: 4px;
}
